# Instructions to use .gitignore file (so that the local git repository will ignore the specified files/folders):
# 1) You must specifies the relative path of the file/folder you want to ignore. 
# 2) The relative path is starting from the root directory where the .gitignore file is located (EG: This .gitignore file is located at "D:/AI_Master_New/Under_Local_Git_Covered".)
# 3) Hence, for example, given the absolute path of a file as: "D:\AI_Master_New\Under_Local_Git_Covered\Deep_Learning_Tutorials_codebasics\Word2Vec_codebasics\Cell_Phones_and_Accessories_5.json"
# 4) The relative path of the same file is : "/Deep_Learning_Tutorials_codebasics/Word2Vec_codebasics/Cell_Phones_and_Accessories_5.json". You must specify this relative path in the .gitignore file for the local git repository to ignore the file. 


# Ignore the Amazon Product Review Dataset used in the tutorial of Word2Vec_codebasics
/Deep_Learning_Tutorials_codebasics/Word2Vec_codebasics/Cell_Phones_and_Accessories_5.json
/Deep_Learning_Tutorials_codebasics/Word2Vec_codebasics/reviews_Cell_Phones_and_Accessories_5.json.gz
/Deep_Learning_Tutorials_codebasics/Word2Vec_codebasics/reviews_Cell_Phones_and_Accessor

# Ignore the image dataset used in the tutorial of Tensorflow_Input_Pipeline_codebasics
/Deep_Learning_Tutorials_codebasics/Tensorflow_Input_Pipeline_codebasics/deep-learning-keras-tf-tutorial

# Ignore the image dataset used in the tutorial of Vision_Transformer_Quick_Guide_DeepFindr
/Deep_Learning_Tutorials_codebasics/Vision_Transformer_Quick_Guide_DeepFindr/oxford-iiit-pet

# Ignore the outputs of the tutorial of DeepQLearning_DQN_PyTorch_Beginners_Tutorial_JohnnyCode
/Deep_Learning_Tutorials_codebasics/DeepQLearning_DQN_PyTorch_Beginners_Tutorial_JohnnyCode/runs

# Ignore the outputs of the tutorial of GAN_DigitalSreeni
/Deep_Learning_Tutorials_codebasics/Generative_Adversarial_Network_GAN/GAN_DigitalSreeni/images

# Ignore the dataset used & the saved trained generator model in the tutorial of Pix2PixGAN_Satellite_Images_Tutorial7
/Deep_Learning_Tutorials_codebasics/Generative_Adversarial_Network_GAN/Pix2PixGAN_Satellite_Images_Tutorial7/data
/Deep_Learning_Tutorials_codebasics/Generative_Adversarial_Network_GAN/Pix2PixGAN_Satellite_Images_Tutorial7/model_010960.h5

# Ignore the dataset used & the saved trained generator model in the tutorial of Pix2PixGAN_Generate_Realistic_Images_Tutorial8
/Deep_Learning_Tutorials_codebasics/Generative_Adversarial_Network_GAN/Pix2PixGAN_Generate_Realistic_Images_Tutorial8/data
/Deep_Learning_Tutorials_codebasics/Generative_Adversarial_Network_GAN/Pix2PixGAN_Generate_Realistic_Images_Tutorial8/model_010960.h5

# Ignore the dataset used & the saved trained generator models in the tutorial of cycleGAN_Unpaired_ImageTranslation_Keras_Tutorial9
/Deep_Learning_Tutorials_codebasics/Generative_Adversarial_Network_GAN/cycleGAN_Unpaired_ImageTranslation_Keras_Tutorial9/data

# Ignore the dataset used & the saved trained generator models in the tutorial of SRGAN_Tutorial12
/Deep_Learning_Tutorials_codebasics/Generative_Adversarial_Network_GAN/SRGAN_Tutorial12/data
/Deep_Learning_Tutorials_codebasics/Generative_Adversarial_Network_GAN/SRGAN_Tutorial12/hr_images
/Deep_Learning_Tutorials_codebasics/Generative_Adversarial_Network_GAN/SRGAN_Tutorial12/lr_images
/Deep_Learning_Tutorials_codebasics/Generative_Adversarial_Network_GAN/SRGAN_Tutorial12/mirflickr25k_OriginalDataset
/Deep_Learning_Tutorials_codebasics/Generative_Adversarial_Network_GAN/SRGAN_Tutorial12/gen_e_10.h5

# Ignore the dataset used & the saved trained generator models in the tutorial of Explore_GAN_LatentSpace_Tutorial13
/Deep_Learning_Tutorials_codebasics/Generative_Adversarial_Network_GAN/Explore_GAN_LatentSpace_Tutorial13/data
/Deep_Learning_Tutorials_codebasics/Generative_Adversarial_Network_GAN/Explore_GAN_LatentSpace_Tutorial13/saved_data_during_training

# Ignore the dataset used & the saved trained generator models in the tutorial of Semisupervised_GAN_Tutorial15
/Deep_Learning_Tutorials_codebasics/Generative_Adversarial_Network_GAN/Semisupervised_GAN_Tutorial15/saved_trainingdata

# Ignore the dataset folder
/Dataset

# Ignore the folder that stores the downloaded pretrained model parameters
/pretrained_model_parameters_torchvision

# Ignore low-light image enhancement related projects
/Low-Light_Image_Enhancement/LIME_and_DUAL_Separately
/Low-Light_Image_Enhancement/Dark_Bright_Channel_Priors_basan_2020

# Ignore face detection related projects
/Face_Detection



/test.py
/todelete.py


/.venv