# Ignore the image files
Reorganize_dataset/sampling_SICE_Part1_TrainingSet
Reorganize_dataset/Reorganized_sampling_SICE_Part1_TrainingSet
Reorganize_dataset/Reorganized_sampling_SICE_Part1_TrainingSet_try2
try_imagepairs

ImageProcessing_AdjustBrightness/sampling_SICE_Part1_TrainingSet

ImageProcessing_AdjustBrightness/PlantDoc.v1-resize-416x416.yolov8-normal-light
ImageProcessing_AdjustBrightness/PlantDoc.v1-resize-416x416.yolov8-low-light
ImageProcessing_AdjustBrightness/PlantDoc.v1-resize-416x416.yolov8-high-light

Verify_ResizeSpeed/big_images
Verify_ResizeSpeed/ori_images
Verify_ResizeSpeed/try_images


dataset
ZTWV_data
try_PILResize_ImagePair
snapshots
results